In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/Part01/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [3]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [4]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [5]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [6]:
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [7]:
# Test
ot_train = pd.DataFrame(app_train['OCCUPATION_TYPE'])
print(ot_train.shape)
ot_train.head()

(307511, 1)

  OCCUPATION_TYPE
0        Laborers
1      Core staff
2        Laborers
3        Laborers
4      Core staff

In [9]:
occ_type = []
for occ in ot_train.values:
    if occ[0] not in occ_type:
        occ_type.append(occ[0])
print(occ_type)

['Laborers', 'Core staff', 'Accountants', 'Managers', nan, 'Drivers', 'Sales staff', 'Cleaning staff', 'Cooking staff', 'Private service staff', 'Medicine staff', 'Security staff', 'High skill tech staff', 'Waiters/barmen staff', 'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff', 'HR staff']

In [11]:
for occ in occ_type:
    ot_train[occ] = ot_train['OCCUPATION_TYPE'].apply(lambda x: 1 if x == occ else 0)
ot_train.head()

,OCCUPATION_TYPE,Laborers,Core staff,Accountants,Managers,nan,Drivers,Sales staff,Cleaning staff,Cooking staff,Private service staff,Medicine staff,Security staff,High skill tech staff,Waiters/barmen staff,Low-skill Laborers,Realty agents,Secretaries,IT staff,HR staff
0,Laborers,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Core staff,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Laborers,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Laborers,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Core staff,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0